# Google Cloud Configurations
GOOGLE_CLOUD_PROJECT=ai-agents-course-499804
GOOGLE_CLOUD_LOCATION=us-east1

# Deployed Expense Agent Reasoning Engine ID/URN
# e.g., projects/172600545145/locations/us-east1/reasoningEngines/5300842314531340288
# or just the numeric ID: 5300842314531340288
AGENT_RUNTIME_ID=5300842314531340288
